homesecurity demo 4.xcodeproj/project.xcworkspace/xcuserdata/lester.xcuserdatad/UserInterfaceState.xcuserstate
homesecurity demo 4.xcodeproj/xcuserdata/lester.xcuserdatad/xcschemes/xcschememanagement.plist
