homesecurity demo 4.xcodeproj/project.xcworkspace/xcuserdata/lester.xcuserdatad/UserInterfaceState.xcuserstate
homesecurity demo 4.xcodeproj/xcuserdata/lester.xcuserdatad/xcschemes/xcschememanagement.plist
._homesecurity-demo-4-Info.plist
._homesecurity demo 4.xcodeproj
homesecurity demo 4.xcodeproj/._project.xcworkspace
homesecurity demo 4.xcodeproj/._xcuserdata
/homesecurity demo 4.xcodeproj/xcuserdata
/homesecurity demo 4.xcodeproj/project.xcworkspace/xcuserdata
*.xcodeproj
homesecurity demo 4.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
._homesecurity demo 4.xcodeproj
._homesecurity demo 4.xcodeproj
